:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  --hover-color: rgb(93, 168, 176);
  --active-color: rgb(207, 91, 163);
}

body {
  margin: 0px;
}

#content {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Nunito, Montserrat, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-rows: 6rem 1fr 2rem;
}

.header {
  font-size: 5rem;
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
}

.footer {
  text-align: center;
  font-weight: 600;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-placer-header {
  font-size: 3rem;
  font-weight: 700;
}
.ship-placer-info {
  font-size: 2rem;
  font-weight: 500;
}
.ship-placer-board {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  row-gap: 0px;
  column-gap: 2px;
  border: solid 1px;
  width: 32rem;
  height: 32rem;
}
div[class^='cell'] {
  border: solid 1px;
  width: 3rem;
  height: 3rem;
}
div[class^='cell']:hover {
  background-color: var(--hover-color);
}
div[class^='cell']:active {
  background-color: var(--active-color);
}
.ship-placer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.ship-placer-rotate {
  border: none;
  border-radius: 1rem;
  height: 3rem;
}
.ship-placer-random-all {
  border: none;
  border-radius: 1rem;
  height: 3rem;
}
.ship-placer-container button:hover {
  background-color: var(--hover-color);
}
.ship-placer-container button:active {
  background-color: var(--active-color);
}
.has-ship {
  background-color: var(--active-color);
}

.game-mode {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
